
#s_header
{
    width:750px;
    height: 40px;
    background-color:#1E222B;
    border-radius: 26px;
    color:#fff;
}
#s_header ul
{
   height: 100;
   list-style: none;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-family: "Playwrite US Modern", cursive;
   font-size: 11px;
}
#s_header .header_items
{   
    height:40px;
    width:auto;
    border-radius: 26px;
    padding:9px 18px;
    text-align: center;
}
#s_header #active
{
    background-color: #B3C9F8;
    color:#1E222B;
}